@{
    ViewData["Title"] = "Configurar Juego";
}

<h2>Selecciona una dificultad</h2>

<div class="roulette-container">
    <div id="roulette">
        <div id="pointer"></div>
        <canvas id="canvasDificultad"></canvas>
    </div>
    <button id="spinButtonDificultad">Girar Ruleta</button>
    <div id="result">Dificultad Seleccionada: <span id="selectedDificultad"></span></div>
</div>

<!-- Formulario oculto para enviar el resultado al servidor -->
<form id="difficultyForm" action='@Url.ActionLink("SeleccionarDificultad", "Home")' method="post">
    <input type="hidden" id="idDificultadInput" name="idDificultad" />
</form>

    <script src="~/js/dificultad.js"></script>