@{
    ViewData["Title"] = "Index";
}
<body class="Index">
    <div class="container">
        <div class="content-box">
            <div class="image-container">
                <img src="../img/Logo.png" alt="Logo">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button">Jugar</button>
            </div>
        </div>
    </div>
</body>