@{
    ViewData["Title"] = "Index";
}
<body class="Index">
    <div class="container">
        <div class="content-box">
            <div class="image-container">
                <img src="../img/Logo.png" alt="Logo">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
<<<<<<< HEAD
                <a href='@Url.ActionLink("ConfigurarJuego", "Home")'><button class="btn btn-primary" type="button">Jugar</button></a>
=======
                <a href = '@Url.Action("ConfigurarJuego", "Home")' class="btn btn-primary" type="button">Jugar</a>
>>>>>>> 0f3ea94cf6aeb98cd7015cb7871c4edd2157ebba
            </div>
        </div>
    </div>
</body>