@{
    ViewData["Title"] = "Configurar Juego";
}

<h2 class = "smuti">¡Bienvenido @ViewBag.NombreJugador!</h2>
<p class = "smuter">Categoría seleccionada: @ViewBag.NombreCategoria</p>
<p class = "smuton">Dificultad seleccionada: @ViewBag.NombreDificultad</p>