@{
    ViewData["Title"] = "Configurar Juego";
}

<h2>¡Bienvenido @ViewBag.NombreJugador!</h2>
<p>Categoría seleccionada: @ViewBag.NombreCategoria</p>
<p>Dificultad seleccionada: @ViewBag.NombreDificultad</p>