@{
    ViewData["Title"] = "Configurar Juego";
}

<h2>¡Bienvenido @ViewBag.NombreJugador!</h2>
<p>Categoría seleccionada: @ViewBag.IdCategoria</p>
<p>Dificultad seleccionada: @ViewBag.IdDificultad</p>