@{
    ViewData["Title"] = "Tutorial";
}
<div class = "Tutorial">
   <img src="../img/logoginiando.webp" alt="Logo">
<h1>Tutorial para Jugar al Juego Preguntados</h1>
<h3>1. Introducción al Juego</h3>
<div class = "p">
<p>El objetivo es responder preguntas en diferentes categorías y dificultades. La dificultad se selecciona mediante un desplegable y la categoría se elige usando una ruleta.</p>
</div>
<h3>2. Pantalla de Inicio</h3>
<h4>En la pantalla de inicio, tendrás:</h4>
<div class = "p">
<p>.Campo para Ingresar Nombre de Usuario: Un campo para que el jugador ingrese su nombre.</p>
<p>.Selector de Dificultad: Un desplegable para elegir la dificultad.</p>
<p>.Ruleta de Categorías: Un componente para girar la ruleta y seleccionar una categoría aleatoriamente.</p>
<p>.Botón para Iniciar el Juego: Un botón para comenzar el juego después de seleccionar la categoría y la dificultad.</p>
</div>
</div>