html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body header{
  background-color: white;
  margin: 10px;
  padding: 10px;
  margin-top: 0%;
  width: 100%;
  margin-left: 0%;
}


footer {
  margin-top: 25%;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

.Logo-Nav
{
  width: 25%;
  height: auto;
  float: left;
}

.nav-item
{
  margin-left: 5%;
  margin-top: 5%;
  float: left;
}

.roulette-container {
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
}

#roulette {
  width: 100%;
  height: 100%;
  position: relative;
}

#pointer {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid red; 
  position: absolute;
  top: -30px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}


canvas {
  width: 100%;
  height: auto;
}

.boton-ruleta {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 30px;
  font-size: 18px;
}

.roulette-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

#canvas {
  width: 100%; 
  max-width: 500px; 
  height: auto; 
}

#canvasDificultad {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: bold;
}
.nav-item img
{
  width: 60%;
  margin-top: 0%;
}

body {
  background-color: purple; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.content-box {
  margin-top:0% ;
  background-color: white;
  padding: 50px; 
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}

.image-container img {
  max-width: 100%;
  height: auto; 
  display: block;
  margin-top: 10%;
}

.button-container {
  margin-top: 20px;
}

.btn-primary {
  background-color: #007bff; 
  border-color: #007bff;
}   

.creditos
{
  background-color: purple;
}

.creditos img
{
  height: 350px;
}
.smuton
{
  padding-left: 40%;
  margin-top: 1%;
  margin-left: 35%;
  margin-right: 35%;
  background-color: white;
  padding: 20px; 
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  text-align: center;   
}
.smuter
{

  padding-left: 40%;
  margin-top: 1%;
  margin-left: 35%;
  margin-right: 35%;
  background-color: white;
  padding: 20px; 
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}
.smuti
{
  padding-left: 38%;
  margin-top: 1%;
  background-color: white;
  padding: 20px; 
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  margin-left: 35%;
  margin-right: 35%;
}
.Formulario
{
  margin-top:10% ;
  background-color: white;
  padding: 50px; 
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}

.Tutorial
{
  padding-left: 40%;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
  background-color: white;
  padding: 20px; 
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  text-align: center;  
}
.p 
{
  font-size: large;
}
.Tutorial img
{
  width: 20%;
  border-radius: 10px;
}